.hot-cold-game
{
    text-align:center;
    color:#fff;
}

.hot-cold-game h1{
    margin-top:0;
    clear:both;
    font-size:3em;
}

.hot-cold-game nav{
    text-align:left;
    height:30px;
    margin:5px;
    margin-bottom:80px;
}

nav ul{
    padding:10px;
    list-style: none;
}


nav li{
    text-decoration: none;
    display:inline;
    font-size:1.2em;
}

.new-game-link{
    float:right;
}

.game-container{
    height:400px;
    width:400px;
    border:1px solid #222;
    background-color:rgb(63, 58, 80);
    border-radius: 0.5em;
    margin:0 auto;
    overflow:hidden;
}

.link-button
{
    background:none;
    border:none;
    color:white;
    font-size:1.2em;
}

.link-button:hover{
    text-decoration:underline;
    cursor: pointer;
}